<launch>

 <include file="$(find jaka_ur_moveit_config3)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>

 <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
<param name="/use_gui" value ="false"/>
<remap from="/joint_states" to="/jakaUr/joint_states" />

<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
<param name="/use_gui" value="false"/>
<rosparam param="/source_list">[/jakaUr/joint_states]</rosparam>
</node>

<include file="$(find jaka_ur_moveit_config3)/launch/move_group.launch">
    <arg name="publish_monitored_planning_scene" value="true" />
  </include>

  <include file="$(find jaka_ur_moveit_config3)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

</launch>
